{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Charles' Cloud Playground</h1>
            <p>One Part Python & Gcloud Sandbox.  Another Part VMware Data Analysis.  More parts maybe later.</p>
        </div>
    </div>
{% endblock %}

{% block applist %}
    <div class="row">
        {% include "app/app_snip_columns.html" with col_heading="RVTOOLS Analysis" col_message="It's like a spreadsheet, only faster!" appurl="rvt_view" %}
    </div>
{% endblock %}