{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Future Stuff
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2>I don't know why this is still here.  </h2>
        </div>
    </div>

    <div class="container">
        <form role="form"
              action="{% url 'autobrik_new_vmdata' %}"
              method="post">

            {{  form | crispy }}

            {% csrf_token %}

            <button type="submit" class="btn btn-success">Submit Data</button>
        </form>
     </div>
{% endblock %}