{% extends "base.html" %}

{% block title %}
    Organization Details
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Organization Details</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Organization Details</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td><b>Name: </b><i>{{ thisorg.org_name }}</i></td>
                    </tr>
                    <tr>
                        <td><b>Contact: </b><i>{{ thisorg.org_contact }}</i></td>
                    </tr>
                    <tr>
                        <td><b>Contact email: </b><i>{{ thisorg.org_email }}</i></td>
                    </tr>
                    <tr>
                        <td><b>Created: </b><i>{{ thisorg.load_time }}</i></td>
                    </tr>
                </table>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Actions</h3>
            </div>
            <div class="panel-body">
                <table width="150">
                    <tr>
                        <td><form method="get" action="/org/edit/{{ thisorg.id }}/"><button class="btn btn-xs btn-primary" type="submit">Edit</button></form></td>
                        <td><form method="get" action="/org/delete/{{ thisorg.id }}/"><button class="btn btn-xs btn-danger" type="submit">Delete</button></form></td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
    </div>
    <hr>
    <div class="well">
    <h3>List of This Organization's Assessments:</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Assessment Name</th>
                <th>Date/Time Created</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if assessment_list %}
                {% for assessment in assessment_list %}
                    <tr>
                        <td>{{ assessment.assess_name }}</td>
                        <td><i>{{ assessment.load_time }}</i></td>
                        <td>
                            <form method="get" action="/org/assessment/view/{{ assessment.id }}/">
                                <button type="submit" class="btn btn-xs btn-success">View</button>
                            </form>
                        </td>
                        <td>
                            <form method="get" action="/org/assessment/edit/{{ assessment.id }}/">
                                <button type="submit" class="btn btn-xs btn-primary">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form method="get" action="/org/assessment/delete/{{ assessment.id }}/">
                                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>None Yet Created</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}